Create A Group!

<%= form_for @group do |f| %>
  <p>
  What would you like to call the group?
  <%= f.text_field :name, :required => true %>
  </p>


<%= f.submit "Make Group" %>
<% end %>

<% Groups.all.each do |g| %>
    <% UsersGroup.all.each do |mb| %>
        <% if mb.user_id == @current_user.id && mb.group_id == g.id %>
          <li>
              <%= link_to g.name, g %>
          </li>
        <% end %>
    <% end %>
<% end %>
